.ilk { 
    color: purple;
    text-align: center;
}

.KSh1 {
    font-size: 25px;
}
.KSh2 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #508D69;
}
.KSp1 {
    color: #508D69;
}
